@model StringResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <form asp-controller="Home" asp-action="GetKWICResult" method="post">
        <textarea rows="4" cols="50" name="input"></textarea>
        <br />
        <input type="submit" value="Submit" />
    </form>

    @if (Model != null)
    {
        <br />
        @Model.ElapsedTimeMs
        @Html.Raw(" milliseconds have passed to run this");
        <br />
        <br />
        <div>
            <h1>User Input:</h1>
            @if (Model.UserInput != null)
            {
                <span style="white-space: pre-line">@Model.UserInput</span>
                <br/>
            }
        </div>
        <br />
        <div>
            <h1>Circular Shift:</h1>
            @if (Model.CircularlyShifted != null)
            {
                foreach (var s in Model.CircularlyShifted)
                {
                    @Html.Raw(s)
                    <br/>
                }
            }

        </div>
        <br />
        <div>
            <h1>Alphabetized:</h1>
            @if (Model.Alphabetized != null)
            {
                foreach (var s in Model.Alphabetized)
                {
                    @Html.Raw(s)
                    <br />
                }
            }
        </div>
    }

</div>
